<!doctype html>
<html>
<head>
<title>Polifonia</title>
<meta name="description" content="Polifonia Corpus Error Page">
<meta name="keywords" content="polifonia error page"">
<link rel="stylesheet" href="static/style404.css">
</head>
<body>
<div class="header" id="header">
	<img class="header-logo" id="header-logo" onclick="openMain()" src="static/svg/Polifonia-logo-Corpus.svg">
	<div class="separator" id="separator"></div>
</div>
<div class="error-message">
	<h1>OOPS! Something went wrong</h1>
	<p>ERROR 404: Page Not Found. Please check the url.</p>
	<p>Otherwise, click on the button below to be redirected to the previous page</p>
	<button type="button" class="error-recovery" onclick="history.go(-1)">GO BACK</button>
</div>
</body>
</html>